In [6]:
import numpy as np

In [7]:
import pandas as pd

In [8]:
from datetime import datetime

In [3]:
now = datetime.now()

In [4]:
now

datetime.datetime(2022, 11, 12, 22, 24, 54, 807498)

In [5]:
now.year, now.month, now.day

(2022, 11, 12)

In [6]:
delta = datetime(2011,1,7)-datetime(2008,6,24,8,15)

In [7]:
delta

datetime.timedelta(days=926, seconds=56700)

In [8]:
delta.days

926

In [9]:
delta.seconds

56700

In [10]:
from datetime import timedelta

In [11]:
start= datetime(2011,1,7)

In [12]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [13]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [14]:
stamp = datetime(2011,1,3)

In [15]:
str(stamp)

'2011-01-03 00:00:00'

In [16]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [17]:
value = '2011-01-03'

In [18]:
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [19]:
datestrs = ['7/6/2011','8/6/2011']

In [21]:
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [22]:
from dateutil.parser import parse

In [23]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [24]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [25]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [26]:
datestrs=['2011-07-06 12:00:00','2011-8-06 00:00:00']

In [35]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [36]:
idx=pd.to_datetime(datestrs+[None])

In [37]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [38]:
idx[2]

NaT

In [39]:
pd.isnull(idx)

array([False, False,  True])

In [40]:
from datetime import datetime

In [41]:
dates =[datetime(2011,1,2),datetime(2011,1,5),
        datetime(2011,1,7),datetime(2011,1,8),
       datetime(2011,1,10),datetime(2011,1,12)]

In [43]:
ts=pd.Series(np.random.randn(6), index=dates)

In [44]:
ts

2011-01-02    0.182499
2011-01-05   -0.505010
2011-01-07   -0.568776
2011-01-08    0.523035
2011-01-10    0.100847
2011-01-12    0.423820
dtype: float64

In [45]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [46]:
ts+ts[::2]

2011-01-02    0.364999
2011-01-05         NaN
2011-01-07   -1.137551
2011-01-08         NaN
2011-01-10    0.201694
2011-01-12         NaN
dtype: float64

In [47]:
ts.index.dtype

dtype('<M8[ns]')

In [48]:
stamp=ts.index[0]

In [49]:
stamp

Timestamp('2011-01-02 00:00:00')

In [50]:
stamp=ts.index[2]

In [51]:
ts[stamp]

-0.568775631733191

In [52]:
ts['1/10/2011']

0.10084712285720106

In [53]:
ts['20110110']

0.10084712285720106

In [54]:
longer_ts=pd.Series(np.random.randn(1000),
                   index=pd.date_range('1/1/2000', periods=1000))

In [55]:
longer_ts

2000-01-01    2.569540
2000-01-02   -2.427838
2000-01-03    0.857756
2000-01-04   -0.734328
2000-01-05   -1.153032
                ...
2002-09-22    0.018855
2002-09-23   -0.960759
2002-09-24   -0.647216
2002-09-25    0.725600
2002-09-26   -0.336736
Freq: D, Length: 1000, dtype: float64

In [56]:
longer_ts['2001']

2001-01-01   -3.077291
2001-01-02    1.492177
2001-01-03   -1.374639
2001-01-04    0.057334
2001-01-05   -0.653315
                ...
2001-12-27   -0.276414
2001-12-28   -0.818684
2001-12-29   -0.392341
2001-12-30   -0.302701
2001-12-31    0.047937
Freq: D, Length: 365, dtype: float64

In [57]:
longer_ts['2001-05']

2001-05-01   -2.224589
2001-05-02    0.534671
2001-05-03   -1.209100
2001-05-04   -0.393978
2001-05-05   -0.459950
2001-05-06    0.959166
2001-05-07    0.200919
2001-05-08   -0.370655
2001-05-09    0.441595
2001-05-10   -0.968641
2001-05-11    0.392175
2001-05-12   -1.343053
2001-05-13   -0.584099
2001-05-14   -0.515040
2001-05-15   -1.544112
2001-05-16   -0.986386
2001-05-17   -0.865684
2001-05-18   -0.172775
2001-05-19   -0.239043
2001-05-20   -0.249367
2001-05-21    0.298727
2001-05-22    0.329825
2001-05-23   -1.357808
2001-05-24    2.386882
2001-05-25   -0.361357
2001-05-26    0.665927
2001-05-27   -0.553441
2001-05-28    0.937096
2001-05-29    0.121040
2001-05-30    0.150815
2001-05-31   -0.504658
Freq: D, dtype: float64

In [58]:
ts[datetime(2011,1,7):]

2011-01-07   -0.568776
2011-01-08    0.523035
2011-01-10    0.100847
2011-01-12    0.423820
dtype: float64

In [59]:
ts

2011-01-02    0.182499
2011-01-05   -0.505010
2011-01-07   -0.568776
2011-01-08    0.523035
2011-01-10    0.100847
2011-01-12    0.423820
dtype: float64

In [60]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.568776
2011-01-08    0.523035
2011-01-10    0.100847
dtype: float64

In [61]:
ts.truncate(after='1/9/2011')

2011-01-02    0.182499
2011-01-05   -0.505010
2011-01-07   -0.568776
2011-01-08    0.523035
dtype: float64

In [62]:
dates=pd.date_range('1/1/2000',periods=100,freq='W-WED')

In [63]:
long_df=pd.DataFrame(np.random.randn(100,4),
                    index=dates,
                    columns=['Colorado','Texas',
                            'New York', 'Ohio'])

In [64]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.720676  0.530166  0.750121 -0.283275
2001-05-09  0.053074 -0.382638  0.629269  0.839075
2001-05-16  0.873874  0.235077 -0.805966 -1.139959
2001-05-23  0.179723 -1.994251  0.540850  0.286843
2001-05-30 -1.440923  0.620272 -1.478119 -0.022759

In [66]:
dates=pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000',
                        '1/2/2000','1/3/2000'])

In [68]:
dup_ts=pd.Series(np.arange(5),index=dates)

In [69]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [70]:
dup_ts.index.is_unique

False

In [71]:
dup_ts['1/3/2000']

4

In [72]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [73]:
grouped=dup_ts.groupby(level=0)

In [74]:
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [75]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [76]:
ts

2011-01-02    0.182499
2011-01-05   -0.505010
2011-01-07   -0.568776
2011-01-08    0.523035
2011-01-10    0.100847
2011-01-12    0.423820
dtype: float64

In [77]:
resampler=ts.resample('D')

In [78]:
index=pd.date_range('2012-04-01','2012-06-01')

In [79]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [80]:
pd.date_range(start='2012-04-01',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [81]:
pd.date_range(end='2012-06-01',periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [82]:
pd.date_range('2000-01-01','2000-12-01',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [83]:
pd.date_range(start='2012-05-02 12:56:31',periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [84]:
pd.date_range(start='2012-05-02 12:56:31',periods=5,normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [85]:
from pandas.tseries.offsets import Hour,Minute

In [86]:
hour=Hour()

In [87]:
hour

In [88]:
four_hours=Hour(4)

In [89]:
four_hours

In [90]:
pd.date_range('2000-01-01', '2000-01-03 23:59',freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [91]:
    Hour(2)+Minute(30)

In [92]:
pd.date_range('2000-01-01', periods=10,freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [93]:
rng=pd.date_range('2012-01-01','2012-09-01',freq='WOM-3FRI')

In [95]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [96]:
ts=pd.Series(np.random.randn(4),
            index=pd.date_range('1/1/2000',periods=4,freq='M'))

In [97]:
ts

2000-01-31   -0.473432
2000-02-29   -0.583736
2000-03-31    0.177093
2000-04-30    0.778095
Freq: M, dtype: float64

In [98]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.473432
2000-04-30   -0.583736
Freq: M, dtype: float64

In [99]:
ts.shift(-2)

2000-01-31    0.177093
2000-02-29    0.778095
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [100]:
ts/ts.shift(1)-1

2000-01-31         NaN
2000-02-29    0.232987
2000-03-31   -1.303378
2000-04-30    3.393714
Freq: M, dtype: float64

In [101]:
ts.shift(2,freq='M')

2000-03-31   -0.473432
2000-04-30   -0.583736
2000-05-31    0.177093
2000-06-30    0.778095
Freq: M, dtype: float64

In [102]:
ts.shift(3,freq='D')

2000-02-03   -0.473432
2000-03-03   -0.583736
2000-04-03    0.177093
2000-05-03    0.778095
dtype: float64

In [103]:
ts.shift(1,freq='90T')

2000-01-31 01:30:00   -0.473432
2000-02-29 01:30:00   -0.583736
2000-03-31 01:30:00    0.177093
2000-04-30 01:30:00    0.778095
dtype: float64

In [104]:
from pandas.tseries.offsets import Day,MonthEnd

In [105]:
now=datetime(2011,11,17)

In [106]:
now+3*Day()

Timestamp('2011-11-20 00:00:00')

In [107]:
now+MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [108]:
now+MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [109]:
offset=MonthEnd()

In [110]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [111]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [112]:
ts=pd.Series(np.random.randn(20),
            index=pd.date_range('1/15/2000',periods=20,freq='4d'))

In [113]:
ts

2000-01-15    1.000181
2000-01-19   -0.944469
2000-01-23    0.087094
2000-01-27    0.077369
2000-01-31    0.052495
2000-02-04   -1.405352
2000-02-08    0.289007
2000-02-12   -1.008400
2000-02-16   -1.924172
2000-02-20   -0.645101
2000-02-24    1.519201
2000-02-28   -0.325145
2000-03-03   -0.009013
2000-03-07    0.127785
2000-03-11   -0.346791
2000-03-15   -1.393334
2000-03-19   -0.518289
2000-03-23    2.024005
2000-03-27   -0.327373
2000-03-31    1.341374
Freq: 4D, dtype: float64

In [114]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.054534
2000-02-29   -0.499995
2000-03-31    0.112295
dtype: float64

In [115]:
ts.resample('M').mean()

2000-01-31    0.054534
2000-02-29   -0.499995
2000-03-31    0.112295
Freq: M, dtype: float64

In [116]:
import pytz

In [117]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [118]:
tz=pytz.timezone('America/New_York')

In [119]:
tz

In [120]:
p=pd.Period(2007,freq='A-DEC')

In [121]:
p

Period('2007', 'A-DEC')

In [122]:
p+5

Period('2012', 'A-DEC')

In [123]:
p-2

Period('2005', 'A-DEC')

In [127]:
pd.Period('2014',freq='A-DEC')-p

In [128]:
rng=pd.period_range('2000-01-01','2000-06-30',freq='M')

In [129]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]')

In [131]:
pd.Series(np.random.randn(6),index=rng)

2000-01   -0.867615
2000-02    1.055615
2000-03   -1.370399
2000-04    1.965303
2000-05    0.953380
2000-06    0.076619
Freq: M, dtype: float64

In [132]:
values=['2001Q3','2002Q2','2003Q1']

In [133]:
index=pd.PeriodIndex(values,freq='Q-DEC')

In [134]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]')

In [135]:
p=pd.Period('2007',freq='A-DEC')

In [136]:
p

Period('2007', 'A-DEC')

In [137]:
p.asfreq('M',how='start')

Period('2007-01', 'M')

In [138]:
p.asfreq('M',how='end')

Period('2007-12', 'M')

In [139]:
p=pd.Period('2007',freq='A-JUN')

In [140]:
p

Period('2007', 'A-JUN')

In [141]:
p.asfreq('M',how='start')

Period('2006-07', 'M')

In [142]:
p.asfreq('M',how='end')

Period('2007-06', 'M')

In [143]:
p=pd.Period('Aug-2007',freq='M')

In [145]:
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [146]:
rng=pd.period_range('2006','2009',freq='A-DEC')

In [147]:
ts=pd.Series(np.random.randn(len(rng)),index=rng)

In [148]:
ts

2006    0.383432
2007   -1.127395
2008   -1.060898
2009   -1.128332
Freq: A-DEC, dtype: float64

In [149]:
ts.asfreq('M',how='start')

2006-01    0.383432
2007-01   -1.127395
2008-01   -1.060898
2009-01   -1.128332
Freq: M, dtype: float64

In [150]:
ts.asfreq('B',how='end')

2006-12-29    0.383432
2007-12-31   -1.127395
2008-12-31   -1.060898
2009-12-31   -1.128332
Freq: B, dtype: float64

In [4]:
rng=pd.date_range('2000-01-01',periods=100,freq='D')

In [9]:
ts=pd.Series(np.random.randn(len(rng)),index=rng)

In [10]:
ts

2000-01-01   -1.747556
2000-01-02    0.587292
2000-01-03    1.304133
2000-01-04    1.695970
2000-01-05   -1.860850
                ...
2000-04-05   -0.718503
2000-04-06   -1.169336
2000-04-07   -0.739619
2000-04-08    1.637764
2000-04-09    0.741661
Freq: D, Length: 100, dtype: float64

In [11]:
ts.resample('M').mean()

2000-01-31   -0.181200
2000-02-29    0.154753
2000-03-31    0.064478
2000-04-30   -0.001615
Freq: M, dtype: float64

In [12]:
ts.resample('M',kind='period').mean()

2000-01   -0.181200
2000-02    0.154753
2000-03    0.064478
2000-04   -0.001615
Freq: M, dtype: float64

In [13]:
rng=pd.date_range('2000-01-01',periods=12,freq='T')

In [14]:
ts=pd.Series(np.arange(12),index=rng)

In [15]:
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

In [16]:
ts.resample('5min',closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [17]:
ts.resample('5min',closed='right',label='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5T, dtype: int32

In [18]:
ts.resample('5min',closed='right',label='right',loffset='-1s').sum()

C:\Users\zxcv\AppData\Local\Temp\ipykernel_10928\1689922366.py:1: FutureWarning: 'loffset' in .resample() and in Grouper() is deprecated.

>>> df.resample(freq="3s", loffset="8H")

becomes:

>>> from pandas.tseries.frequencies import to_offset
>>> df = df.resample(freq="3s").mean()
>>> df.index = df.index.to_timestamp() + to_offset("8H")

  ts.resample('5min',closed='right',label='right',loffset='-1s').sum()

1999-12-31 23:59:59     0
2000-01-01 00:04:59    15
2000-01-01 00:09:59    40
2000-01-01 00:14:59    11
Freq: 5T, dtype: int32

In [19]:
ts.resample('5min').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

In [20]:
frame=pd.DataFrame(np.random.randn(2,4),
                  index=pd.date_range('1/1/2000',periods=2,
                                     freq='W-WED'),
                  columns=['Colorado','Texas','New York','Ohio'])

In [21]:
frame

            Colorado     Texas  New York      Ohio
2000-01-05  0.058007 -1.400609 -1.151783 -0.635554
2000-01-12 -0.836377 -0.688485  1.974773 -0.958533

In [22]:
df_daily=frame.resample('D').asfreq()

In [23]:
df_daily

            Colorado     Texas  New York      Ohio
2000-01-05  0.058007 -1.400609 -1.151783 -0.635554
2000-01-06       NaN       NaN       NaN       NaN
2000-01-07       NaN       NaN       NaN       NaN
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -0.836377 -0.688485  1.974773 -0.958533

In [24]:
frame.resample('D').ffill()

            Colorado     Texas  New York      Ohio
2000-01-05  0.058007 -1.400609 -1.151783 -0.635554
2000-01-06  0.058007 -1.400609 -1.151783 -0.635554
2000-01-07  0.058007 -1.400609 -1.151783 -0.635554
2000-01-08  0.058007 -1.400609 -1.151783 -0.635554
2000-01-09  0.058007 -1.400609 -1.151783 -0.635554
2000-01-10  0.058007 -1.400609 -1.151783 -0.635554
2000-01-11  0.058007 -1.400609 -1.151783 -0.635554
2000-01-12 -0.836377 -0.688485  1.974773 -0.958533

In [25]:
frame.resample('D').ffill(limit=2)

            Colorado     Texas  New York      Ohio
2000-01-05  0.058007 -1.400609 -1.151783 -0.635554
2000-01-06  0.058007 -1.400609 -1.151783 -0.635554
2000-01-07  0.058007 -1.400609 -1.151783 -0.635554
2000-01-08       NaN       NaN       NaN       NaN
2000-01-09       NaN       NaN       NaN       NaN
2000-01-10       NaN       NaN       NaN       NaN
2000-01-11       NaN       NaN       NaN       NaN
2000-01-12 -0.836377 -0.688485  1.974773 -0.958533

In [26]:
frame.resample('W-THU').ffill()

            Colorado     Texas  New York      Ohio
2000-01-06  0.058007 -1.400609 -1.151783 -0.635554
2000-01-13 -0.836377 -0.688485  1.974773 -0.958533

In [27]:
frame=pd.DataFrame(np.random.randn(24,4),
                  index=pd.period_range('1-2000','12-2001',
                                     freq='M'),
                  columns=['Colorado','Texas','New York','Ohio'])

In [28]:
frame[:5]

         Colorado     Texas  New York      Ohio
2000-01  0.532567 -1.466172  1.482358  0.258398
2000-02 -1.067569  0.160562  2.425040 -0.640354
2000-03 -1.308325  1.199296 -0.764934 -1.066467
2000-04  0.023006 -0.748914 -0.055210  1.721178
2000-05  1.935289  0.386042 -0.509121  0.432590

In [29]:
annual_frame=frame.resample('A-DEC').mean()

In [30]:
annual_frame

      Colorado     Texas  New York      Ohio
2000  0.134476  0.059050  0.234754  0.399250
2001 -0.014059 -0.143054 -0.379632  0.113082

In [31]:
annual_frame.resample('Q-DEC').ffill()

        Colorado     Texas  New York      Ohio
2000Q1  0.134476  0.059050  0.234754  0.399250
2000Q2  0.134476  0.059050  0.234754  0.399250
2000Q3  0.134476  0.059050  0.234754  0.399250
2000Q4  0.134476  0.059050  0.234754  0.399250
2001Q1 -0.014059 -0.143054 -0.379632  0.113082
2001Q2 -0.014059 -0.143054 -0.379632  0.113082
2001Q3 -0.014059 -0.143054 -0.379632  0.113082
2001Q4 -0.014059 -0.143054 -0.379632  0.113082

In [32]:
annual_frame.resample('Q-DEC',convention='end').ffill()

        Colorado     Texas  New York      Ohio
2000Q4  0.134476  0.059050  0.234754  0.399250
2001Q1  0.134476  0.059050  0.234754  0.399250
2001Q2  0.134476  0.059050  0.234754  0.399250
2001Q3  0.134476  0.059050  0.234754  0.399250
2001Q4 -0.014059 -0.143054 -0.379632  0.113082

In [33]:
annual_frame.resample('Q-MAR').ffill()

        Colorado     Texas  New York      Ohio
2000Q4  0.134476  0.059050  0.234754  0.399250
2001Q1  0.134476  0.059050  0.234754  0.399250
2001Q2  0.134476  0.059050  0.234754  0.399250
2001Q3  0.134476  0.059050  0.234754  0.399250
2001Q4 -0.014059 -0.143054 -0.379632  0.113082
2002Q1 -0.014059 -0.143054 -0.379632  0.113082
2002Q2 -0.014059 -0.143054 -0.379632  0.113082
2002Q3 -0.014059 -0.143054 -0.379632  0.113082

In [37]:
close_px_all=pd.read_csv('tesla.csv',
                        parse_dates=True,index_col=0)

KeyError: "None of [Index(['AAPL', 'MSFT', 'XOM'], dtype='object')] are in the [columns]"